{% extends "base.html" %}

{% block content %}
<h1 align="center">Add Show</h1>

<div class="row justify-content-center">
<div class="col-md-5">


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="flashes">
    {% for msg in messages %}
      <p>{{msg}}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form name="add" id="add" method=POST 
    enctype = "multipart/form-data" action={{url_for('add')}}>
    
<div class=form-inputs>
    <div class="form-group">
        <input type="hidden" name="uid" value="{{uid}}">
        <p><label for=title>Title:
            <input class="form-control" type="text" id="title" name="title" size="60" required/>
        </label></p>
    </div>

    <div class="form-group">
        <div class="creator">
            <label for=creator>Creator: </label> <br>
            <input type="button" class="btn btn-outline-primary" value="Add Creators" onclick="addCreators()" id="cbutton" name="cbutton"/>
        </div>
    </div>

    <div class="form-group">
        <p><label for=network>Network:
            <input class="form-control" type="text" id="network" name="network" required/>
        </label></p>
    </div>

    <div class="form-group">
        <p><label for=year>Year Debuted:
            <input class="form-control" type="text" id="year" name="year" required/>
        </label></p>
    </div>
        
    <div class="form-group">
        <div class="genre">
            <label for=genre>Genre: </label> <br>
            <input type="button" class="btn btn-outline-primary" value="Add Genre" onclick="addGenres()" id="cbutton" name="cbutton"/>
        </div>
    </div>

    <div class="form-group">
        <div class="contentwarning">
            <label for=contentwarning>Content Warning: </label>
            <select class="form-control" name="warning-dropdown" id="warning-dropdown"> 
                {% for common in commonWarnings %}
                    <option value={{common}}>{{common}}</option>
                {% endfor %}
                {% for warning in contentwarnings %}
                    {% if warning.name not in commonWarnings %}
                        <option value="{{warning.name}}">{{warning.name}}</option>
                    {% endif %}
                {% endfor %}
                <option value="Other">Other (Add a new warning)</option> 
                <input type="button" class="btn btn-outline-primary" value="Add" id="cwbutton" name="cwbutton"/>
               <span id="newwarning_placeholder"></span>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="tags">
            <label for="tags">Tags:</label>
            <input type="button" class="btn btn-outline-primary" value="Add Tags" onclick="addTag()"/>
        </div>
    </div>
        
    <div class="form-group">
        <p><label for=script>Link to Script:
            <input class="form-control" type="text" id="script" name="script" size="100"/>
            <p>Or upload a file:
                <input type = "file" name = "file" />
            </p>
        </label></p>
    </div>

    <div class="form-group">
        <p><label for=description>Description:
            <textarea class="form-control" rows="4" cols="110" name='description' required></textarea>
        </label></p>
        
    </div>
        <p><button type="submit" class="btn btn-success">Submit</button></p>
    </div>
    
</form>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script language="javascript">
/* global $ */
function deleteUl(elem){
    elem.closest('div').remove();
}

$("#cwbutton").on("click", function (e) {
    var selected = $("#warning-dropdown option:selected").text();
    if ($("#warning-dropdown option:selected").val()=="Other"){
        $("#newwarning_placeholder")
        .append('<div>Add a new warning: <input type="text" id="newcw"/>' +
                    '<input type="button" value="Add" onclick="addNewWarning()" id="newcwbutton" name="newcwbutton"/></div>');
    } else {
        var warninghtml = '<div id="warning"><input type="text"  id="cw" value="'+selected+'" name="cw"/>'
                     +'<button type="button"  class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>'
        $(warninghtml).appendTo(".contentwarning")
    }
});

function addCreators() {
// 	$("#c_placeholder").append('<input type="text" id="creator" name="creator"/>');
    var creatorhtml = '<div><input type="text" id="creator" name="creator" required/>'
            +'<button type="button" class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>'
    $(creatorhtml).appendTo(".creator")
}

function addGenres() {
    var genrehtml = '<div><input type="text" id="genre" name="genre" required/>'
            +'<button type="button" class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>'
    $(genrehtml).appendTo(".genre")
}

function addNewWarning(){
    var newwarning = $('#newcw').val();
    var warninghtml = '<div id="warning"><input type="text" value="'+newwarning+'" name="cw"/>'
                +'<button type="button" name="delete" onclick="deleteUl(this)">X</button></div>'
    $(warninghtml).appendTo('.contentwarning')
}

// Adds a new tag drop down menu for tag type and text box for tag value
// when 'Add Tags' button is clicked
function addTag(){
    var taghtml = ` <div class=tag-input>
                        <select class="form-control" id="tags" name="tags">
                            <option value=''>Choose a tag</option>
                            <option value='pace'>Pace</option>
                            <option value='length'>Length</option>
                            <option value='type'>Type</option>
                        </select>
                        <label for="tag-args">
                            <input class="form-control" type="text" id="tag-args" name="tag-args" required/>
                        </label>
                        <button type="button"  class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>
                    </div>`;
    $(taghtml).appendTo(".tags");
}

</script>
{% endblock %}

