{% extends "base.html" %}

{% block content %}
<h1 align="center">Add Show</h1>

<div class="row justify-content-center">
<div class="col-md-5">


<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    <div id="flashes">-->
<!--    {% for msg in messages %}-->
<!--      <p>{{msg}}</p>-->
<!--    {% endfor %}-->
<!--    </div>-->
<!--  {% endif %}-->
<!--{% endwith %}-->

<form name="add" id="add" method=POST action={{url_for('add')}}>
    
<div class=form-inputs>
    <div class="form-group">
        <input type="hidden" name="uid" value="{{uid}}">
        <p><label for=title>Title:
            <input class="form-control" type="text" id="title" name="title" size="60"/>
        </label></p>
    </div>

    <div class="form-group">
        <div class="creator">
            <label for=creator>Creator: </label> <br>
            <input type="button" class="btn btn-outline-primary" value="Add Creators" onclick="addCreators()" id="cbutton" name="cbutton"/>
        </div>
    </div>

    <div class="form-group">
        <p><label for=network>Network:
            <input class="form-control" type="text" id="network" name="network" />
        </label></p>
    </div>

    <div class="form-group">
        <p><label for=year>Year Debuted:
            <input class="form-control" type="text" id="year" name="year" />
        </label></p>
    </div>
        
        <!--<p><label for=genre>Genre:-->
        <!--    <input type="text" id="genre" name="genre" />-->
        <!--</label></p>-->
    <div class="form-group">
        <div class="genre">
            <label for=genre>Genre: </label> <br>
            <input type="button" class="btn btn-outline-primary" value="Add Genre" onclick="addGenres()" id="cbutton" name="cbutton"/>
        </div>
    </div>

    <div class="form-group">
        <div class="contentwarning">
            <label for=contentwarning>Content Warning: </label>
            <select class="form-control" name="warning-dropdown" id="warning-dropdown"> 
                {% for common in commonWarnings %}
                    <option value={{common}}>{{common}}</option>
                {% endfor %}
                {% for warning in contentwarnings %}
                    {% if warning.name not in commonWarnings %}
                        <option value="{{warning.name}}">{{warning.name}}</option>
                    {% endif %}
                {% endfor %}
                <option value="Other">Other (Add a new warning)</option> 
                <input type="button" class="btn btn-outline-primary" value="Add" id="cwbutton" name="cwbutton"/>
               <span id="newwarning_placeholder"></span>
            </select>
        </div>
    </div>

    <div class="form-group">
       <label for="tags">Tags:</label>
            <!--<button type="button" id="add-tag" name="tag-arg">-->
            <!--    Add another tag-->
            <!--</button>  -->
            <div id="tags-list">
                <div class=tag-input>
                  
                    <select class="form-control" id="tags" name="tags">
                        <option value=''>Choose a tag</option>
                        <option value='pace'>Pace</option>
                        <option value='length'>Length</option>
                        <option value='type'>Type</option>
                    </select>
                    <label for="tag-arg">
                        <input class="form-control" type="text" id="tag-arg" name="tag-arg"/>
                    </label>
                </div>
            </div>
    </div>
        
    <div class="form-group">
        <p><label for=script>Link to Script:
            <input class="form-control" type="text" id="script" name="script" size="100"/>
        </label></p>
    </div>

    <div class="form-group">
        <p><label for=description>Description:
            <!--<input type="text" id="description" name="description" />-->
            <textarea class="form-control" rows="4" cols="110" name='description'></textarea>
        </label></p>
        
    </div>
        <p><button type="submit" class="btn btn-success">Submit</button></p>
    </div>
    
</form>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script language="javascript">
/* global $ */
function addNewWarning(){
    newwarning = $('#newcw').val();
    warninghtml = '<div id="warning"><input type="text" value="'+newwarning+'" name="cw"/>'
                +'<button type="button" name="delete" onclick="deleteUl(this)">X</button></div>'
    $(warninghtml).appendTo('.contentwarning')
}

function deleteUl(elem){
    elem.closest('div').remove();
}


$("#cwbutton").on("click", function (e) {
    selected = $("#warning-dropdown option:selected").text();
    if ($("#warning-dropdown option:selected").val()=="Other"){
        $("#newwarning_placeholder")
        .append('<div>Add a new warning: <input type="text" id="newcw"/>' +
                    '<input type="button" value="Add" onclick="addNewWarning()" id="newcwbutton" name="newcwbutton"/></div>');
    } else {
        warninghtml = '<div id="warning"><input type="text"  id="cw" value="'+selected+'" name="cw"/>'
                     +'<button type="button"  class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>'
        $(warninghtml).appendTo(".contentwarning")
    }
});


function addCreators() {
// 	$("#c_placeholder").append('<input type="text" id="creator" name="creator"/>');
    creatorhtml = '<div><input type="text" id="creator" name="creator"/>'
            +'<button type="button" class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>'
    $(creatorhtml).appendTo(".creator")
}

$("#add-tag").on("click", function (event) {
    $("ul#tags-list").append($("div.tag-input").html())
    console.log("Adding another tag input");
});

function addGenres() {
    genrehtml = '<div><input type="text" id="genre" name="genre"/>'
            +'<button type="button" class="btn btn-outline-danger" onclick="deleteUl(this)" name="delete">X</button></div>'
    $(genrehtml).appendTo(".genre")
}

</script>
{% endblock %}

