<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="shows-and-tel">
    {% block headstuff %}
        <title>Shows-and-Tel</title>
    {% endblock %}
    <link rel='stylesheet' href="/static/style.css">
</head>
<body>

<ul class="navbar" uid={{uid}}>
  <li><a class="active" href={{url_for('index')}}>Home</a></li>
  <li><a class="active" href={{url_for('displayAll')}}>All</a></li>
</ul>

<br>
</div>

{% block content %}

{% endblock %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->



</body>
</html>