<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="shows-and-tel">
    {% block headstuff %}
        <title>Shows-and-Tel</title>
    {% endblock %}
    <link rel='stylesheet' href="/static/style.css">
</head>
<body>

<ul uid={{uid}}>
  <li><a class="active" href={{url_for('index')}}>Home</a></li>
  <li><a class="active" href={{url_for('displayAll')}}>All</a></li>
  <!--<li>-->
      <!--<div class="textbox">-->
    <!--  <form id="search" method=POST action="{{url_for('search')}}">-->
    <!--    <input type="hidden" name="uid" value="{{uid}}">-->
    <!--    <input id="searchterm" placeholder="Search" name="searchterm">-->
    <!--    <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>-->
    <!--</form>-->
    <!--</div>-->
    <!--</li>-->
</ul>

<br>
</div>

{% block content %}

{% endblock %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->



</body>
</html>