{% extends "base.html" %}
  {% block headstuff %}<title>Edit Show</title>{% endblock %}

{% block content %}
  <h1 show=show>Update Show: {{show.title}} (#{{show.sid}})</h1>
    
  <p>You may delete or add content warnings and creators. However, a show must have at least one content warning and creator.

    <form method=POST action="{{url_for('edit',sid=show.sid)}}" show=show creators=creators warnings=warnings>
      <table>
        <tr>
          <td><label for="show-title">Title</label></td>
          <td><input name='show-title' value='{{show.title}}'></td> 
        </tr>
        <tr>
          <td><label for="show-network">Network</label></td>
          <td><input name='show-network' value='{{show.network}}'></td>
        </tr>
        <tr>
          <td><label for="show-release">Release year</label></td>
          <td><input name='show-release' value='{{show.year}}'></td>
        </tr>
        <tr>
          <td><label for="show-description">Description</label></td>
          <td><textarea rows="4" cols="75" name='show-description'>{{show.description}}</textarea></td>
        </tr>
        <tr>
          <td><label for="show-script">Script</label></td>
          <td><input name='show-script' value='{{show.script}}' size="80"></td>
        </tr>
        <tr>
          <td><label for="show-genre">Genre</label></td>
          <td><input name='show-genre' value='{{show.genre}}'></td>
        </tr>
        
        <!--<div class="warning">-->
          {% for warning in warnings %}
          <tr class='warning'>
              <td><label for="show-warnings">Content Warning</label></td>
              <td><input name='show-warnings' value='{{warning.name}}'>
              {% if warning == warnings[0] %}
                <button type="button" id="addwarning">Add Warning</button>
              {% elif warning != warnings[0] %}
                <button type="button" name="delete" onclick="deleteRow(this)">X</button>
              {% endif %}
              </td>
          </tr>
          {% endfor %}
        <!--</div>-->
        
        <!--<div class="creators">-->
          {% for creator in creators %}
          <tr class='creator'>
            <td><label for="show-creators">Creator</label></td>
            <td><input name='show-creators' value='{{creator.name}}'>
              {% if creator == creators[0] %}
                <button type="button" name="add" id="addcreator">Add Creator</button>
              {% elif creator != creators[0] %}
              <button type="button" name="delete" onclick="deleteRow(this)">X</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        <!--</div>-->
          
      </table>
      <input type="submit" name="submit" value="update">
    </form>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script language="javascript">
/* global $ */
$(document).ready(function() {
  var tag_name = $(".tags-row").attr("name");
  $('#tags option[value='+tag_name+']').prop('selected', true);
});

$("#addwarning").on('click', function(){
  newWarning = '<tr><td><label for="show-warnings">Content Warning</label></td><td><input name="show-warnings" value="">' +
                    '<button type="button" name="delete" onclick="deleteRow(this)">X</button></td></tr>'
  $(newWarning).insertAfter($(this).closest('.warning'));
})

$("#addcreator").on('click', function(){
  newCreatpr = ('<tr><td><label for="show-creators">Creator</label></td><td><input name="show-creators" value="">'+
              '<button type="button" name="delete" onclick="deleteRow(this)">X</button></td></tr>')
  $(newCreatpr).insertAfter($(this).closest('.creator'));
})

function deleteRow(elem){
    console.log('deleting')
    elem.closest('tr').remove();
}

</script>
{% endblock %}