{% extends "base.html" %}
  {% block headstuff %}<title>Edit Show</title>{% endblock %}

{% block content %}
  <h1 show=show>Update Show: {{show.title}}</h1>
    
  <!--<p style="text-align:center;">Use "None" or "null" to set a field to null. Only Title, Release Year and Director can be null.-->

    <form method=POST action="{{url_for('edit',sid=show.sid)}}" show=show creators=creators>
      <table>
        <tr>
          <td><label for="show-title">Title</label></td>
          <td><input name='show-title' value='{{show.title}}'></td> 
        </tr>
        <tr>
          <td><label for="show-tt">Show id</label></td>
          <td><input name='show-tt' value='{{show.sid}}'></td>
        </tr>
        <tr>
          <td><label for="show-network">Network</label></td>
          <td><input name='show-network' value='{{show.network}}'></td>
        </tr>
        <tr>
          <td><label for="show-release">Release year</label></td>
          <td><input name='show-release' value='{{show.year}}'></td>
        </tr>
        <tr>
          <td><label for="show-description">Description</label></td>
          <td><input name='show-description' value='{{show.description}}'></td>
        </tr>
        <tr>
          <td><label for="show-script">Script</label></td>
          <td><input name='show-script' value='{{show.script}}'></td>
        </tr>
        <tr>
          <td><label for="show-genre">Genre</label></td>
          <td><input name='show-genre' value='{{show.genre}}'></td>
        </tr>
        {% for creator in creators %}
        <tr>
          <td><label for="show-creators">Creator</label></td>
          <td><input name='show-creators' value='{{creator.name}}'></td>
        </tr>
        {% endfor %}
          
      </table>
      <input type="submit" name="submit" value="update">
    </form>
{% endblock %}