{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
<div class="col-md-6">
    <div class=search>
        <div class=form>
            <h1 align:"center">Welcome to Shows & Tel</h1>
            <p align:"center">Use the form to search for a TV show!</p>

            <form id="search" method=POST action="{{url_for('search')}}">
                <div class=form-inputs>
                    <input type="hidden" name="uid" value="{{uid}}">
                    <p><label for=title>Title:
                        <input type="text"  class="form-control" id="title" name="title" />
                    </label></p>
                    <p><label for=creator>Creator:
                        <input type="text"  class="form-control" id="creator" name="creator" />
                    </label></p>

                    <p><label for=genre>Genre:
                        <!--<select id="genre" name="genre" />-->
                        <!--        <option value="">Select Genre</option>-->
                        <!--    {% for genre in genres %}-->
                        <!--        <option>{{genre.name}}</option>-->
                        <!--    {% endfor %}-->
                        <!--</select>-->
                    </label><input type="text"  class="form-control" id="genre" name="genre" /></p>
                    
                    <p><label for=network>Network:
                        <select id="network" class="form-control" name="network" />
                                <option value="">Select Network</option>
                            {% for network in networks %}
                                <option>{{network.name}}</option>
                            {% endfor %}
                        </select>
                    </label></p>
                    
                    
                    <p><label for=contentwarning>Content Warning:
                        <select id="contentwarning" class="form-control" name="contentwarning" />
                                <option value="">Select Content Warning</option>
                            {% for warning in contentwarnings %}
                                <option>{{warning.name}}</option>
                            {% endfor %}
                        </select>
                    </label></p>
                    
                    
                    <label for=tags>Tags:</label>
                    <ul id="tags-list">
                        <div class=tag-input>
                            <select id="tags" class="form-control" name="tags">
                                <option value=''>Choose a tag type</option>
                                <option value='pace'>Pace</option>
                                <option value='length'>Length</option>
                                <option value='type'>Type</option>
                            </select>
                            
                        <label for=tag-args>Tag Name
                                <input type="text" class="form-control" id="tag-args" name="tag-args"/>
                         </label>
                    </div>
                    </ul>
                     <button type="button" class="btn btn-outline-primary" id="add-tag" name="add-tag">
                        Add another tag
                    </button>  
                    <br> <br>
                    <p><button type="submit" class="btn btn-success">Submit</button></p>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script>
/* global $ */

$("#add-tag").on("click", function (event) {
    $("ul#tags-list").append($("div.tag-input").html())
    console.log("Adding another tag input");
});

</script>

{% endblock %}