{% extends "base.html" %}

{% block content %}

    <div class=search>
        <div class=form>
            <h1>Welcome to Shows & Tel</h1>
            <p>Use the form to search for a TV show!</p>
            
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div id="flashes">
                {% for msg in messages %}
                  <p>{{msg}}</p>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <form id="search" method=POST action="{{url_for('search')}}">
                <div class=form-inputs>
                    <input type="hidden" name="uid" value="{{uid}}">
                    <p><label for=title>Title:
                        <input type="text" id="title" name="title" />
                    </label></p>
                    <p><label for=creator>Creator:
                        <input type="text" id="creator" name="creator" />
                    </label></p>
                    
                    <p><label for=network>Network:
                        <select id="network" name="network" />
                                <option value="">Select Network</option>
                            {% for network in networks %}
                                <option>{{network.name}}</option>
                            {% endfor %}
                        </select>
                    </label></p>
                    
                    
                    <p><label for=contentwarning>Content Warning:
                        <select id="contentwarning" name="contentwarning" />
                                <option value="">Select Content Warning</option>
                            {% for warning in contentwarnings %}
                                <option>{{warning.name}}</option>
                            {% endfor %}
                        </select>
                    </label></p>
                    
                    
                    <p><label for="tags">Tags:</label>
                    <!--<button type="button" id="add-tag" name="tag-arg">-->
                    <!--    Add another tag-->
                    <!--</button>  -->
                    <ul id="tags-list">
                        <div class=tag-input>
                            <li>
                            <select id="tags" name="tags">
                                <option value=''>Choose a tag</option>
                                <option value='pace'>Pace</option>
                                <option value='length'>Length</option>
                                <option value='type'>Type</option>
                            </select>
                            <label for="tag-arg">
                                <input type="text" id="tag-arg" name="tag-arg"/>
                            </label>
                        </li></div>
                    </ul>
                    <p><button type="submit">Submit</button></p>
                </div>
            </form>
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script>
/* global $ */

$("#add-tag").on("click", function (event) {
    $("ul#tags-list").append($("div.tag-input").html())
    console.log("Adding another tag input");
});

</script>

{% endblock %}