{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
<div class="col-md-6">
<div show={{show}} creators={{creators}} warnings={{warnings}} genres={{genres}}>

    <h2>{{show.title}} ({{show.year}}) 
        {% if not session['logged_in'] %}
            </h2><br><p style="color: red;">You can't edit or like this show because you are not logged in. Please Log in by clicking "Login" in the Nav Bar to edit/like.</p>
        {% else %}
            {% if not liked %}
                <button type="button" class="btn btn-success" id="likebutton">like</button></h2>
            {% else %}
                <button type="button" class="btn btn-success" id="likebutton">unlike</button></h2>
            {% endif %}
        {% endif %}
    <!--</h2>-->
    
    <p>Number of Likes: <span id="numLikes">{{show.numLikes}}</span></p>
    <br>
  
    <p>{{show.description}}</p>
    
    <br>

    <ul>
        <input type="hidden" name="sid" value="{{show.sid}}">
        <input type="hidden" name="uid" value="{{uid}}">
        <li>Creator(s): 
            {% for creator in creators %}
                <ul class="inside">
                <li>{{creator.name}}</li>
                </ul>
            {% endfor %}
        </li>

        <li>Genre:
            {% for genre in genres %}
                <ul class="inside">
                <li>{{genre.name}}</li>
                </ul>
            {% endfor %}
        </li>
        
        <li>Content Warning: 
            {% for warning in warnings %}
                <ul class="inside">
                <li>{{warning.name}}</li>
                </ul>
            {% endfor %}
        </li>
        <li>Tags:
            {% for tag in tags %}
                <ul class="inside">
                <li>{{tag.name}}: {{tag.val}}</li>
                </ul>
            {% endfor %}
        </li>
        <li>Script: 
            {% if show.script != 'NULL' %}
            <a href={{url_for('script', sid=show.sid)}}>{{show.script}}</a> 
            {% endif %}
        </li>
        <li>Network: {{show.network}}</li>  
    </ul>
    
    {% if session['logged_in'] %}
    <a class="active" href={{url_for('edit',sid=show.sid)}}>
        <button type="button" class="btn btn-outline-danger">Edit</button>
    </a>
    {% endif %}
</div>
</div>
</div>


<script>
// var loggedIn = session['logged_in'];
// console.log(session)
var username = "{{username}}";
var sid = "{{show.sid}}"
var url_like = "/like/";
/* global $ */


$("#likebutton").on("click", function(event){
    if(username == "") return // if not logged in, can't rate
    if($("#likebutton").text()=='like'){
        var currentNum = $("#numLikes").text();
        $("#likebutton").text('unlike');
        $.post(url_like,
            {'sid':sid, 'username':username, 'like':true},
            function(resp){
                console.log(resp)
                $("#numLikes").text(resp.newNum)
            }, 'json');
    } else {
        var currentNum = $("#numLikes").text();
        $("#likebutton").text('like');
        $.post(url_like,
            {'sid':sid, 'username':username, 'like':false},
            function(resp){
                $("#numLikes").text(resp.newNum)
            }, 'json');
    }
});

</script>

{% endblock %}