{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
<div class="col-md-6">
<div show={{show}} creators={{creators}} warnings={{warnings}} genres={{genres}}>
    {% if not session['logged_in'] %}
        <p style="color: red;">You can't edit this show because you are not logged in. Please Log in by clicking "Login" in the Nav Bar.</p>
        <br>
    {% endif %}
    <h2>{{show.title}} ({{show.year}})</h2>
    <p>{{show.description}}</p>
    
    <!--likes-->
    <p>Number of Likes: {{show.likes}}</p>
    <button type="button" class="btn btn-success" onclick="loadDoc()">Like</button>
    
    <br><br>

    <ul>
        <li>Creator(s): 
            {% for creator in creators %}
                <ul class="inside">
                <li>{{creator.name}}</li>
                </ul>
            {% endfor %}
        </li>

        <li>Genre:
            {% for genre in genres %}
                <ul class="inside">
                <li>{{genre.name}}</li>
                </ul>
            {% endfor %}
        </li>
        
        <li>Content Warning: 
            {% for warning in warnings %}
                <ul class="inside">
                <li>{{warning.name}}</li>
                </ul>
            {% endfor %}
        </li>
        <li>Tags:
            {% for tag in tags %}
                <ul class="inside">
                <li>{{tag.name}}: {{tag.val}}</li>
                </ul>
            {% endfor %}
        </li>
        <li>Script: <a href="{{show.script}}">{{show.script}}</a> </li>
        <li>Network: {{show.network}}</li>  
    </ul>
    
    {% if session['logged_in'] %}
    <a class="active" href={{url_for('edit',sid=show.sid)}}><button type="button" class="btn btn-outline-danger">Edit</button></a>
    {% endif %}
</div>
</div>
</div>
{% endblock %}