{% extends "base.html" %}
{% block content %}

<div show={{show}} creators={{creators}}>
    <h2>{{show.title}} ({{show.year}})</h2>
    <a class="active" href={{url_for('edit',sid=show.sid)}}>Edit</a>
    <p>{{show.description}}</p>
    <ul>
        <li>Creator(s): 
            {% for creator in creators %}
                <ul class="inside">
                <li>{{creator.name}}</li>
                </ul>
            {% endfor %}
        </li>
        <li>Genre: {{show.genre}}</li>
        <li>Script: <a href="{{show.script}}">{{show.script}}</a> </li>
        <li>Network: {{show.network}}</li>  
    </ul>
</div>

{% endblock %}