{% extends "base.html" %}

{% block content %}
<h1>Search</h1>
  <form id="search" method=POST action="{{url_for('search')}}">
    <input type="hidden" name="uid" value="{{uid}}">
    <input id="searchterm" placeholder="Search" name="searchterm">
    <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
</form>

{% if shows %}
    {% for show in shows %}
    <tr data-tt={{show.tt}}>
        <td class="title">{{show.title}}</td>
        <td class="director">{{show.director}}</td>
        <td class="release">{{show.release}}</td>
        <!--<td><form method="POST" action="/rateMovie/">-->
        <!--    <input type="hidden" name="tt" value="{{movie.tt}}">-->
        <!--    <input type="hidden" name="uid" value="{{uid}}">-->
        <!--    <label class="movie-rating">1-->
        <!--        <input type="radio" name="stars" value="1"></label>-->
        <!--    <label class="movie-rating">2-->
        <!--        <input type="radio" name="stars" value="2"></label>-->
        <!--    <label class="movie-rating">3-->
        <!--        <input type="radio" name="stars" value="3"></label>-->
        <!--    <label class="movie-rating">4-->
        <!--        <input type="radio" name="stars" value="4"></label>-->
        <!--    <label class="movie-rating">5-->
        <!--        <input type="radio" name="stars" value="5"></label>-->
        <!--    <input type="submit" value="rate this">-->
        <!--    </form>-->
        <!--</td>-->
        <td><span class="avgrating">{{show.rating}}</span></td>
    </tr>
    {% endfor %}
{% endif %}
    
{% endblock %}