{% extends "base.html" %}


{% block content %}
<div class="row justify-content-center">
<div class="col-md-3">

<h1>Sign Up</h1>

<p>Sign up using the form below:</p>


<form id="signupform" action="{{url_for('signup')}}" method="post">
    <p><label for="username">Username: <input type="text" id="username" class="form-control" name="username" required pattern="^\w+$"></label></p>
    <p><label for="password">Password: <input type="password" id="password" class="form-control" name="password1" required> </label></p>
    <p><label for="confirm" >Confirm Password: <input type="password" id="confirm" class="form-control" name="password2" required> </label></p>
    <p><button type="submit" class="btn btn-success">Submit</button></p>
</form>

</div>
</div>


{% endblock %}